article
    padding: 15px 163px 0 251px
    img
        float: left
        margin-right: 34px
        margin-top: -15px
    p
        font-size: 18px
        color: #000000 
        line-height: 20px
        margin-bottom: 3.3rem