article
	padding: 15px 163px 0 251px
	img.preview
		float: left
		margin-right: 34px
		margin-top: -15px
		margin-bottom: 5px
	p
		font-size: 18px
		color: #000000
		line-height: 20px
		margin-bottom: 33px
	ul
		font-size: 18px
		margin-bottom: 15px
	.b
		font-weight: bold
	.cursive
		font-style: italic
	a
		text-decoration: underline
		color: #6C996B
	img.center
		display: block
		margin: 15px auto 15px auto
		width: 33.3%
	img.tall
		width: 15%

@media only screen and (max-width: 1899px)
	article
		padding-left: 11%
		padding-right: 11%
