@use 'sass:math'
@use 'sass:color'

@import config

// GENERAL PROJECT STYLES
h1
	margin: 0
*:focus
	//outline: none
header
	max-width: 1280px
	margin: 1.5em auto
	border: 0.2em solid #629FBC
	border-radius: 0.5em
	display: flex
	justify-content: space-between
	align-items: center
	padding: 2.4em 3.2em
	button
		display: block
		padding: 0
		border: none 
		background: none
		font-size: 1.75em

.MenuDrawer_main
	visibility: hidden
	position: fixed
	top: 0
	bottom: 0
	left: -45em
	min-width: 45em
	z-index: 2
	background-color: #303030
	transition: 0.5s
	padding-top: 12.6em
	ul
		padding-left: 4em
		list-style: none
		li
			margin-top: 1em
			a
				font-size: 2.5em
				text-decoration: none
				color: #24ACF2
				transition: 0.5s
			a:hover
				color: white
			
.MenuDrawer_open
	left: 0
	visibility: visible

